#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;


}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 200;
    font-size: 1rem;
    max-width: 60rem;
    padding: 0 2rem;
}
.skilllist{
    color: rgb(242, 159, 64);
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 85%;
    text-align:left;
}
.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem ;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}
.skillBarImg{
    object-fit: cover;
    height: 8rem;
    width: 10rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-right: 2rem;
}
.skillBarTxt p{
    font-size: 1rem;
    font-weight: 100;
}

@media screen and (max-width:506px) {
    .skillBar {
        flex-direction: column;
    }
    .skillBarImg{
        border: 1rem;
        text-align: center;
    }
}
@media screen and (max-width:680px) {
    .skillBarImg{
        margin-top: 2rem;
    }
}
@media (min-width:470px) and (max-width:506px) {
    .skillBarImg{
        margin-left: 4rem;
    }
}
@media (min-width:360px) and (max-width:470px) {
    .skillBarImg{
        margin-left:3rem;
    }
}
@media screen and (max-width:425px) {
    .skillTitle{
        font-size:2rem;
        font-weight:500;
        
    }
    .skillDesc{
        font-weight: 200;
        font-size: 0.75rem;
    }
    .skillBarImg{
        margin-top:0rem;
        height: 6rem;
        width: 7rem;
        
    }
    .skillBarTxt p{
        font-size: 0.75rem;
        font-weight: 200;
    }
    .skillBarTxt h2{
        font-size:1.2rem;
        font-weight: 800;
    }
    
}