#contactPage{
    min-height: calc(90vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}
.contactPageTitle{
    font-size: 3rem;
}
.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}
.submitBtn{
    background-color: white;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin:2rem 0;
    cursor: pointer;
}
.submitBtn:hover{
    background: linear-gradient(to bottom right, yellow, rgb(255, 128, 0));
    transform: translate(0, -3px) scale(1.02);
}
.logos{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    object-fit: cover;
    height:4rem;
    width: 4rem;
    margin: 0 0.75rem;
    text-decoration: none;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}
.logo:hover {
    padding: 0.5rem 0;
    border-bottom: 5px solid rgb(255, 213, 0);
}
#linkedin{
    padding: 0.30rem;
}